@media (max-width: 540px) {
  .main {
    background-color: $lightgrey;
    background-image: none;
  }
  .logo {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 13.8px;
  }
  .header {
    height: auto;
    margin: 0 -15px 24px -15px;
  }
  .hero {
    width: 100%;
    height: 448px;
    border-radius: 0px;
    &__title {
      width: 80%;
    }
  }
  .register {
    width: 100%;
    height: 384px;
    border-radius: 0px;
    padding-bottom: 22px;
    &__title {
      display: none;
    }
  }
  .features {
    &__content {
      text-align: center;
    }
    &__card {
      background-size: 90%;
      background-position: 50% 35%;
    }
    &__textbox {
      padding-bottom: 40px;
    }
    &__pricetag {
      left: 60px;
    }
    &__time {
      left: 130px;
    }
  }

  .footer {
    & &__text {
      width: 90%;
      text-align: center;
    }
  }
  .btn-default {
    max-width: 100%;
  }
  h1 {
    font-size: 32px;
    line-height: 43px;
  }
} ;
