.register {
  &__input {
    // input:checked + img {
    //   display: none;
    // }
    &--text {
      border: 1px solid $darkgrey-borders;
      border-radius: 8px;
    }
    &--agree {
      width: 24px;
      height: 24px;
      // transform: translate(28px, -30px);
      // visibility: hidden;
    }
  }
  &__checkbox {
    &--empty {
      width: 24px;
      height: 24px;
      border: 1px solid $darkgrey-borders;
      border-radius: 8px;
      // transform: translate(28px, -5px);
    }
    &--linnuke {
      // transform: translate(-8px, -38px);
    }
  }
}

.invisible {
  display: none;
}
