.register {
  &__label--agree {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  &__input {
    &--text {
      border: 1px solid $darkgrey-borders;
      border-radius: 8px;
    }
  }
}

.invisible {
  display: none;
}

.checkbox {
  cursor: pointer;
}

.checkbox__input {
  display: none;
}

.checkbox__box {
  width: 24px;
  height: 24px;
  border: 1px solid $darkgrey-borders;
  border-radius: 8px;
  margin-right: 8px;
}

.checkbox__input:checked + .checkbox__box {
  background-image: url("/assets/images/linnuke.svg");
  background-position: 3px -3px;
}
