.features {
  &__pricetag {
    background-color: $blue;
    color: $white;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 40px;
  }
  &__price {
    margin: 0;
  }
  &__time {
    position: absolute;
    top: 62px;
    left: 112px;
  }
}
