$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1024px,
  xxl: 1352px,
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "/src/styles/base/colors.scss";
@import "/src/styles/base/typography.scss";
@import "/src/styles/base/backgrounds.scss";
@import "/src/styles/components/buttons.scss";
@import "/src/styles/components/price-tag.scss";
@import "/src/styles/components/form.scss";
@import "/src/styles/layout/desktop.scss";
@import "/src/styles/layout/mobile.scss";
@import "/src/styles/layout/tablet.scss";
@import "/src/styles/base/formvalidation.scss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.no-margin {
  margin: 0;
}
