.main {
  background-color: $blue;
  background-image: url("/assets/images/maandumisleht-taust.svg");
  background-position: 0% 110%;
  background-repeat: no-repeat;
}

.hero {
  background-image: url("/assets/images/hero-image.png");
  background-size: cover;
}

.register {
  background-color: $white;
}

.features {
  &__card {
    background-color: $white;
  }
}

.footer {
  background-color: $blue;
}
