.errormsg,
.errormsg--email,
.errormsg--checkbox {
  text-align: center;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.errorbrdr {
  border: 3px solid $pink;
  border-radius: 8px;
}
